.container {
    margin-left: 20rem !important;
    /* mismo ancho que sidebar */
    padding: 20px;
    margin-right: 0px;

    max-width: calc(100% - 20rem);
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.card-reducida {
    max-width: 50rem;
}

.card-reducida .card-body {
    padding: 10px;
}

.card {
    width: 100%;
    overflow-x: auto;
}

/* Estilo móvil: Adapta las card para dispositivos moviles */
@media screen and (max-width: 768px) {
    .container {
        margin-left: 57px !important;
        max-width: 30rem !important;
    }

    .container h2 {
        font-size: 1.3rem;
    }
}