.card-reducida {
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.07);
}
.card-opcion {
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .card-opcion:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card-icono {
      font-size: 2rem;
      margin-bottom: 10px;
    }